<div class="battle-container">

  <div class="button-container">  
    <%= link_to "Request a new battle", new_message_path, :class => "btn btn-battle" %>
  </div>

  <div class="message-container">
    <% @messages.each do |message| %>
      <div class="battle-card">
        <%= link_to message_path(message) do %>
          <h1><%= message.title %></h1>
          <h4><%= message.description %></h4>
          <div class="flex">
            <p><%= message.user.email %></p>
            <p><strong><em>Posted <%= time_ago_in_words(message.created_at) %> ago</em></strong></p>
          </div>
        <% end %>
      </div>  
      <%= link_to image_tag("pokeball.png", :class => "battle-pokeball"), message_path(message) %>
    <% end %>
  </div>

</div>
