<div class="booking-container">
  <h2>My Bookings</h2>  
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <div>
        <h2> <%= booking.pokemon.name %> </h2>
        <h3> <%= "#{booking.start_date.strftime('%d %B %Y')} - #{booking.start_date.strftime('%d %B %Y')} "%> </h3>
      </div>
      <div>
        <%= link_to "Edit this booking", edit_booking_path(booking)%>
        <%= link_to "Review this Pokemon", new_booking_review_path(booking)%>
        <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>
