<div class="navbar">
  <%= link_to image_tag("pokemon-logo.png", alt: "pokemon-logo", :class => "pokemon-logo"), root_path %>
  <ul class="navbar-links">
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "My Pokemon", my_pokemon_pokemons_path %>
      </li>
      <li>
        <%= link_to "My Bookings", bookings_path %>
      </li>
      <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
      </li>
      <li>
      <img class="avatar-bordered" alt="avatar-bordered" src="https://res.cloudinary.com/markcarson121/image/upload/v1621540616/misty_gt2mmm.png" />
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path) %> 
      </li>
    <% end %>
  <!--   <li>
      <%= link_to image_tag("ketchum.png", alt: "pokemon-logo", :class => "avatar-large") %>
    </li> -->
  </ul>
</div>
