<h1>Pokemons#edit</h1>
<p>Find me in app/views/pokemons/edit.html.erb</p>
<%= simple_form_for(@pokemon) do |f| %>
  <%= f.input :name %>
  <%= f.input :category, :collection => %w[Normal Fire Water Grass Electric Ice Fighting Poison Ground Flying Psychic Bug Rock Ghost Dragon] %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
