<div class="container">
  <% @pokemons.each do |pokemon| %>
    <div class="pokemon-booking">
      <div class="front">
        <div class="contents">
          <%= link_to pokemon_path(pokemon) do %>
            <%= cl_image_tag pokemon.photo.key if pokemon.photo.attached? %>
            <h2> <%= pokemon.name %> </h2>
            <h3> <%= pokemon.category %> </h3>
            <p> £<%= pokemon.price %> </p>
          <% end %>
        </div>
      </div>
      <div class="back">
        <h2> <%= pokemon.name %> </h2>
        <h3> <%= pokemon.category %> </h3>
        <p> £<%= pokemon.price %> </p>
      </div>
    </div>
  <% end %>
</div>
 