<h1>Pokemons#new</h1>
<p>Find me in app/views/pokemons/new.html.erb</p>
<%= simple_form_for(@pokemon) do |f| %>
  <%= f.input :name %>
  <%= f.input :category, :collection => %w[Normal Fire Water Grass Electric Ice Fighting Poison Ground Flying Psychic Bug Rock Ghost Dragon] %>
  <%= f.input :price %>
  <%= f.input :address, label: "Enter Your Postcode" %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
