<div id="show-container">
  <div id="show-card">
    <%= image_tag("pikachu.png") %>
    <div>
      <h2><%= @pokemon.name %></h2>
      <h3><%= @pokemon.category %></h3>
      <p>£<%= @pokemon.price %></p>
      <%= link_to "Book #{@pokemon.name}", new_pokemon_booking_path(@pokemon), :class => "show-link" %>
      <%= link_to "Edit #{@pokemon.name}", edit_pokemon_path(@pokemon), :class => "show-link" %>
      <%= link_to "Delete #{@pokemon.name}", pokemon_path(@pokemon), method: :delete, data: { confirm: "Are you sure?" }, :class => "show-link" %>
      <%= link_to "Back to list", pokemons_path, :class => "show-link"  %>
    </div>
  </div>
</div>

<div id="review-container">
  <ul class="list-group">
    <% @pokemon.reviews.each do |review| %>
      <%= link_to image_tag("ketchum.png", alt: "pokemon-logo", :class => "avatar-large") %>
      <li class="list-group-item"><%= review.content %></li>

    <% end %>
  </ul>
</div>