<div id="show-container">
<h2> <%= @pokemon.name %> </h2>
<h3> <%= @pokemon.category %> </h3>
<p> £<%= @pokemon.price %> </p>
<%= link_to "Book #{@pokemon.name}", new_pokemon_booking_path(@pokemon) %>
<%= link_to "Delete #{@pokemon.name}", pokemon_path(@pokemon), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back", pokemons_path %>
</div>
<%= link_to "Add Review", new_pokemon_review_path(@pokemon) %>

<ul class="list-group">
  <% @pokemon.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <%= link_to "Edit" %>
    <%= link_to "Remove" %>
  <% end %>
</ul>
