<div id="show-container">
  <div id="show-card">
    <%= cl_image_tag @pokemon.photo.key, height: 300, width: 400, crop: :fill %>
    <div>
      <h2><%= @pokemon.name %></h2>
      <h3><%= @pokemon.category %></h3>
      <p>£<%= @pokemon.price %></p>
      <%= link_to "Book #{@pokemon.name}", new_pokemon_booking_path(@pokemon), :class => "show-link" %>
      <%= link_to "Delete #{@pokemon.name}", pokemon_path(@pokemon), method: :delete, data: { confirm: "Are you sure?" }, :class => "show-link" %>
      <%= link_to "Back", pokemons_path, :class => "show-link"  %>
      <%= link_to "Add Review", new_pokemon_review_path(@pokemon), :class => "show-link"  %>
    </div>
  </div>
</div>

<div id="review-container">
  <ul class="list-group">
    <% @pokemon.reviews.each do |review| %>
      <%= link_to image_tag("ketchum.png", alt: "pokemon-logo", :class => "avatar-large") %>
      <li class="list-group-item"><%= review.content %></li>
      <%= link_to "Edit",  edit_pokemon_review_path(review) %>
      <%= link_to "Remove" %>
    <% end %>
  </ul>
</div>