<div class="battle-container">
  <h2>Review-a-mon?</h2>  
    <%= simple_form_for [ @booking, @review ] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.button :submit, class: "btn-pokemon mt-2 mb-2 mr-sm-2" %>
    <%= link_to "Back", bookings_path, class: "btn-pokemon py-2 px-3 mt-2 mb-2 mr-sm-2" %>
<% end %>
</div>